.product-container-details{
    display: flex;
    flex-direction: column;

}

.img-descr-container{
    margin: 20px auto;
    display: flex; 
    justify-content: flex-start; 
    gap: 60px; 
    max-width: 1200px;
}

.right-product-details{
   display: flex; 
   flex-direction: column; 
   justify-content: flex-start; 
   padding-top: 20px; 
}

.button-size{
    background-color: #072b10;
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 20px;
}

.title-size{
    font-size: 30px;
    font-weight: 500;
}

.button-order{
    background-color: #40935d; /* nice solid color */
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.product-image{
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 3px;
    
}

.product-name{
    font-size: 30px;
    font-weight: 500;
    grid-column: 2/3;
    grid-row: 1/3;
}

.product-description{
    grid-column: 2/3;
    grid-row: 2/3;
}

.line{
    width: 90%;
    height: 2px;
    margin-top: 20px;
    border: none;
    background-color: rgba(0,0,0,0.3);
}

.add-review-container{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    padding: 20px 0;
}

.review-input{
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: none; 
    margin: 0; padding: 12px; 
    width: 400px;
}

.review-button{
    border:none;
    border-radius: 10px;
    padding: 10px 20px ;
    margin: 20px;
    width: min(90%,200px);
}

.product-reviews-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
}

.product-reviews-container .title-reviews{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}

.product-reviews-details{
    border-bottom: 1px solid #eee;
    padding: 15px 0; 
    margin: 10px 0; 
    box-shadow: none;
}