html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kedebideri", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  /*background-image: url(./assets/background9.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}
